<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Главная</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="row ">
            <div class="col-2 p-3 bg-dark text-white vh-100">
                <h4 class="ms-2">Меню</h4>
                <hr />
                    <ul class="list-unstyled mb-0 text-white bg-dark">
                        <li><a href="#" class="text-decoration-none text-reset ms-2">Главная</a></li>
                        <li><a href="#" class="text-decoration-none text-reset ms-2">Каталог</a></li>
                        <li><a href="#" class="text-decoration-none text-reset ms-2">Заказы</a></li>
                        <li><a href="#" class="text-decoration-none text-reset ms-2">Контакты</a></li>
                        <div class="dropdown position-absolute bottom-0 start-0 mb-2 ms-2">
                        <hr />
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Пользователь
                        </button>
                        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Профиль</a></li>
                            <li><a class="dropdown-item" href="#">Выход</a></li>
                        </ul>
                        </div>
                    </ul>

            </div>

            <div class="col-10 gy-5">
                <h1 class="text-center">Главная</h1>
                <p class="text-center">Вы находитесь на сайте, предназначенном для продажи котят.</p>
                <div class="row">
                    <div class="col-4 gy-5">
                        <div class="card" style="width: 100">
                            <div class="card-body text-center">
                                <h5 class="card-title">Котёнок 1</h5>
                                <h3>100$</h3>
                                <p class="card-text">Очаровательный пушистый котенок ищет любящую семью. Игривый, ласковый и уже приучен к лотку.</p>
                                <button type="button" class="btn btn-primary w-100">Купить</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 gy-5 ">
                        <div class="card" style="width: 100">
                            <div class="card-body text-center">
                                <h5 class="card-title">Котёнок 2</h5>
                                <h3>80$</h3>
                                <p class="card-text">Маленький рыжий комочек счастья покорит ваше сердце с первого взгляда. Откликается на имя.</p>
                                <button type="button" class="btn btn-primary w-100">Купить</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 gy-5">
                        <div class="card" style="width: 100">
                            <div class="card-body text-center">
                                <h5 class="card-title">Котёнок 3</h5>
                                <h3>120$</h3>
                                <p class="card-text">Клубный малыш с прививками и документами ждет своих хозяев. Отдается в самые добрые руки.</p>
                                <button type="button" class="btn btn-primary w-100">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
